* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

aside {
    float: left;
    text-align: center;
    font-size: 9px;
    width: 300px;
    height: 400px;
    margin-left: 200px;
    margin-right: 50px;
    text-align: center;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

.menu {
    display: flex;
}

.menu li {
    list-style: none;
    margin: 20px;
}

.menu li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.menu li a:hover {
    padding: 5px;
    background-color: #b5d118;
    color: white;
    border-radius: 15px;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section article p{
    margin: 10px;
}

section article h4{
    margin: 12px;
}

article{
    width: 300px;
    margin: 21px;
    text-align: center;
    text-decoration: none;
    background-color: white;
    border-radius: 10px;
}

a{
    text-decoration: none;
}

.apuntame{
    background-color: #7ABA96;
    font-size: 19px;   
}

aside h5{
    font-size: 15px;
    margin: 6px;
}

aside p{
    font-size: 16px;
    margin: 35px;
}

footer{
    background-color: black;
    box-shadow: 0 0 20px rgb(255, 255, 255);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    justify-content: center;
    height: 5%;
    margin-top: 5%;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 0%;
    margin-top: 0%;
}

footer ul li{
    margin: 20px;

}

footer ul li a{
    color: white;
    text-shadow: 0 0 100px #fff;
}
.texto{
    text-align: center;
    font-size: 200%;
}
.foto{
    width: 40%;
    height: 40%;
}

.taside{
    width: 100%;
    height: 100%;

}
.tfotos{
    width: 35%;
    height: 35%;
}
.texto{
    color:black;
    text-align: center;
    font-size: 300%;
}
.texto_ing{
    color:black;
    text-align: justify;
    font-weight: bold;
    font-size: 150%;
}
.ingre{
    color:black;
    text-align: justify;
    font-size: 150%;
    margin-left: 2%;
}
form{
    width: 45%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: none;
    border-radius: 1em;
    background-color: lightgray;
    padding: 0.5em;
    text-align: center;
    margin-top: 1%;
    box-shadow: 0px 0px 50px black;
    margin-top: 5%
}
.cabeza {
    text-align: center;
    font-family:'serif';
    color:green;
}
.receta1 {
    font-size: 115%;
    color:#e18ff5;;
}
.emoji1 {
    width:3%;
    height:3%;
}
.calabacin {
    width:3%;
    height:3%;
}
.textolis{
    font-family:'Gill Sans';
}
.enlaces{
    text-decoration: none;
}
.hr {
    border-color:black;
}
.paginacion {
	margin:20px 0;
}

.paginacion ul {
	list-style:none;
	text-align: center;
}

.paginacion ul li {
	display:inline-block;
	margin-right:10px;
}

.paginacion ul li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	background:#024959;
	text-decoration: none;
}

.paginacion ul li a:hover {
	background:#037E8C;
}

.paginacion ul li .active {
	background:#037E8C;
	font-weight:bold;
}